@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes pulseSpin {
  0% {
    transform: scale(1) rotate(0deg);
  }

  50% {
    transform: scale(1.1) rotate(720deg);

  }

  100% {
    transform: scale(1) rotate(360deg);
  }
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.6;
    transform: scale(1.2);
  }
}

.tooltip {
  transition: opacity 0.2s ease, transform 0.2s ease;
  opacity: 0;
}

.tooltip[style*="block"] {
  opacity: 1;
}